<!--Projekt-Index Seite / Startseite der App-->
@model Xitaso_Webapplikation_DB.ViewModels.ProjektDashboardViewModel
@{
    ViewBag.Title = "Projekte";

}
<div class="row">

    <!--Linke Spalte / Projekte-->
    <div class="col-5">

        <a class="btn btn-primary" href="/Projekt/Create">
            Neues Projekt
        </a>
        <!--Karten für einzelne Projekte-->
        <div class="overflow-auto" style="max-height:90vh;" id="zu hoch">
            @foreach (Xitaso_Webapplikation_DB.Models.Projekt project in Model.projects)
            {
                <div class="card mt-2 mb-2 projectCard" id="@project.Id">
                    <div class="card-body" id="@project.Id">
                        <h5 class="card-title d-inline">@project.name</h5>
                        <!--Optionen-Dropdown-->
                        <div class="dropdown d-inline">
                            <i class="bi bi-three-dots-vertical project-options" type="button" id="optionsDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="optionsDropdown">
                                <li><a class="dropdown-item" href="/Projekt/Edit">Bearbeiten</a></li>
                                <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Löschen</a></li>
                            </ul>
                        </div>
                        <p class="card-text">@project.projectDescription</p>
                    </div>
                </div>
            }
        </div>
    </div>



    <!--Rechte Spalte / Analysen-->
    <div class="col">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary float-end" href="@Url.Action("Create", "Analyse")">
                    Neue Analyse
                </a>
            </div>
        </div>
        <div class="row">
            <div class="overflow-auto analysen">
                <!--foreach(string value in project_dict["elmId"])-->
                @*@foreach (Xitaso_Webapplikation_DB.Models.Projekt project in Model.projects)
                {
                    <div id="@project.Id" class="projectanalysis">
                        @foreach (Xitaso_Webapplikation_DB.Models.Analyse analyse in project.analysis)
                        {
                        <div class="card mt-2 mb-2">
                            <a href="@Url.Action("Index", "Analyse", new {id = analyse.Id })" class="link-dark">
                                <div class="card-body" id="@project.Id">
                                    <h5 class="card-title d-inline">@analyse.name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@analyse.lastChanged</h6>
                                    <p class="card-text">Analyse-Kommentar</p>
                                </div>
                            </a>
                            <i class="bi bi-trash project-options trash-icon" type="button" data-bs-toggle="modal" data-bs-target="#deleteAnalysisModal" z-index="100"></i>
                        </div>
                        }
                    </div>
                }*@
            </div>
        </div>
    </div>
</div>

<!--Modals-->
<!--Projekt löschen Modal -->
<div class="modal fade" id="deleteProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Projekt löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Sind Sie sicher, dass Sie das Projekt wirklich löschen wollen?</b> <br />
                <i>Das Projekt sowie alle in dem Projekt enthaltenen Analysen werden unwiderruflich gelöscht.</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Projekt löschen</button>
            </div>
        </div>
    </div>
</div>

<!--Analyse löschen Modal -->
<div class="modal fade" id="deleteAnalysisModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Analyse löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Sind Sie sicher, dass Sie die Analyse wirklich löschen wollen?</b> <br />
                <i>Die Analyse sowie alle in der Analyse enthaltenen Fragen werden unwiderruflich gelöscht.</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Analyse löschen</button>
            </div>
        </div>
    </div>
</div>
